* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
.main-container {
    height: 100vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, 
    rgba(252,70,107,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #002a00;
    text-align: center;
}
h2 {
    text-align: center;
    color: #BAF73C;
    margin: 15px auto;
}
button {
    display: block;
    margin: 0 auto 15px;
    padding: 15px 45px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    color: #f0ffff;
}
button:first-of-type {
    background-color: #000036;
}
button:nth-of-type(2) {
    background-color: #1d0029;
}
#entries {
    margin-left: 25px;
    text-transform: capitalize;
    font-weight: 500;
}